/* Custom font for Thai */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Noto Sans Thai', sans-serif;
}

/* Yellow theme selection */
::selection {
    background-color: #f59e0b;
    color: white;
}

::-moz-selection {
    background-color: #f59e0b;
    color: white;
}
